<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

<h1 style="text-align:center">Welcome to Business!!</h1>

<h4 style="text-align:center"> <%= link_to 'Log In', '/login' %> <br>
OR <br>
<%= button_to "Log in with Google", "/auth/google_oauth2" %><br>
OR <br>
<%= link_to 'Sign Up', '/signup' %> to create an account</h4>
</div>

<style>
body {
  background: url('https://images.unsplash.com/photo-1519872436884-4a50eb5a62db?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjJ8fG1hZ2ljfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .3);
border: 2px #83677B;
border-radius: 100px; 
}
</style>