<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1 style="color: #501B1D; text-align:center">Create Spellbook</h1>
    <div style="color: #501B1D; text-align:center">
    <%= render partial: "layouts/error", locals: {object: @spellbook} %>

    <%= form_for @spellbook do |f| %>
        <%= render partial: "form", locals: { partial_form: f } %>
        <%= f.submit "Generate your Spellbook" %>
    <% end %>

    
    </div>
    </div>

    <style>
body {
  background: url('https://images.unsplash.com/photo-1471363159950-bc68f8be7abb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8d2l0Y2h8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .4);
border: 2px #83677B;
border-radius: 100px; 
}
</style>