
<div class="container">
<h1 style="color: #501B1D; text-align:center">Edit job</h1>
<div style="color: #501B1D; text-align:center">
<%= render partial: "form", locals: { job: @job, url: job_path(@job)} %>


</div>
</div>

 <style>
body {
  background: url('https://images.theconversation.com/files/343932/original/file-20200625-33528-10wci7g.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .4);
border: 2px #83677B;
border-radius: 100px; 
}
</style>