<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1 style="color: #501B1D; text-align:center">All Jobs</h1>

<% @jobs.each do |job| %>
<li style="color: #501B1D; text-align:center"> <%= link_to job.name, company_job_path(@company, job.id) %></li>
<% end %>

</div>
<br>
<br>
<br>



  <style>
body {
  background: url('https://www.bls.gov/opub/btn/volume-7/images/which-industries-are-filling-jobs-main-image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container { 
background-color: rgba(100%, 100%, 100%, .3);
border: 2px #83677B;
border-radius: 100px; 
}
</style>