<br>
<br>
<br>
<br>
<div class="container" style="text-align:center">
<h1 style="color: #501B1D; text-align:center">Create A Job</h1>
<%= render partial: "form", locals: { job: @job, url: company_jobs_path(@company), method: :post, company_id: nil} %>
</div>
   
    <style>
body {
  background: url('https://www.businessinsider.in/photo/72532929/These-jobs-may-disappear-in-the-coming-years-with-the-advancement-in-technology.jpg?imgsize=27423') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .3);
border: 2px #83677B;
border-radius: 100px; 
}
</style>