<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1 style="color: #501B1D; text-align:center">Job Info: </h1>

      <div style="color: #501B1D; text-align:center">
      Name: <%= @job.name %> <br>
      Description: <%= @job.description %> <br>
      </div>
        <div style="color: #501B1D; text-align:center">
        <% if current_user.id == @job.user_id %>
        <%= link_to "edit", edit_job_path(@job) %>
          <%= link_to "delete", job_path(@job), method: 'DELETE' %>
          <% end %>
        </div>
</div>

<style>
body {
  background: url('https://lh3.googleusercontent.com/rrFcmeqrlMubVVm3AgyyxVS3UeJJjBpxnYyDYuSLGvFyJwLOEo57t4t2inexVfsCwbc') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .4);
border: 2px #83677B;
border-radius: 100px; 
}

</style>