<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h1 style="color: #2E1114; text-align:center">Sign Up!</h1>
  <div style="color: #2E1114; text-align:center">
    <%= render "form"%>
    </div>
</div>
    <style>
body {
  background: url('https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2019Q3/company-reorganization/company-department-reorganization-process@2x.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .4);
border: 2px #83677B;
border-radius: 100px; 
}

</style>