<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1 style="color: #2E1114; text-align:center"> All Companies:</h1>
<ul style="list-style-type:none; color: #2E1114; text-align:center">
<% @companies.each do |company| %>
<li> <%= link_to company.name, company_path(company)%> </li>
<% end %>
</ul>

<br><br>
<div style="list-style-type:none; color: #2E1114; text-align:center">
<%= link_to "Click to view the 5 newest companies cast into the system...", recent_companies_path, class: "btn" %>
</div>
</div>

<style>
body {
  background: url('https://cdn.corporatefinanceinstitute.com/assets/privately-held-company-1024x683.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.container { 
background-color: rgba(100%, 100%, 100%, .6);
border: 2px #83677B;
border-radius: 100px; 
}

</style>